@import "tailwindcss";
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #FBFBFB;
}

:root {
  --background: #F7F6E9;
  --background-dark: #deddd1;
  --foreground: #22200C;
  --primary: #B5E3C9;
  --primary-dark: #a2ccb4;
  --secondary: #C0C2E8;
  --secondary-dark: #acaed0;
  --accent: #A03B74;
  --accent-dark: #903568;
  --muted: var(--background-dark);
  --muted-foreground: var(--foreground);
  --text: #22200C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
