@import "tailwindcss";
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: var(--color-html-background);
}

@theme {
  --color-*: initial;
  --color-html-background: #FBFBFB;
  --color-background: #F7F6E9;
  --color-background-dark: #deddd1;
  --color-primary: #B5E3C9;
  --color-primary-dark: #a2ccb4;
  --color-secondary: #C0C2E8;
  --color-secondary-dark: #acaed0;
  --color-accent: #A03B74;
  --color-accent-dark: #903568;
  --color-text: #22200C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
